<section class="section is-primary description">
  <div fxFlex="60" fxFlexOffset="20" fxFlex.xs="100" fxFlexOffset.xs="0" fxLayout="column" fxLayoutAlign="center center">
    <h2>Hello, I'm Daniel Baier</h2>
    <p fxLayoutAlign="center center" class="is-justified subdesc">I’m the Full-Stack Developer in Fribourg, CH.
        A web enthusiast with 10 years experience on CMS and Frameworks which is always looking for Work on exciting projects.
        Full of energy, Experience, hard work and enthusiasm.</p>
  </div>
</section>
