<section class="section hero">
  <div fxFlex="60" fxFlexOffset="20" fxFlex.xs="100" fxFlexOffset.xs="0" fxLayout="column" fxLayoutAlign="center center" >
    <h1 class="title is-centered-mobile">Full-Stack Developper</h1>
    <p class="subdesc is-centered-mobile">The web is my passion, and I want to make a difference</p>
    <img *ngIf="isWinter()" class="hero__image" alt="Avatar Winter" src="https://res.cloudinary.com/danib/image/upload/v1604996111/Baier/avatar-winter.svg" />
    <img *ngIf="!isWinter()" class="hero__image" alt="Avatar" src="https://res.cloudinary.com/danib/image/upload/v1604996111/Baier/avatar.svg" />
  </div>
  </section>
