<footer fxLayoutAlign="center center" class="footer">
  <div class="is-centered">
      <a class="footer__logo">
          <img class="nav-bar__image" alt="Daniel Baier | Full Stack Web Developer" src="https://res.cloudinary.com/danib/image/upload/v1605003128/Baier/logo.svg" />
      </a>
      <div class="footer__column">
          <div fxFlex="60" fxFlex.xs="100" fxFlexOffset="20" fxFlexOffset.xs="0">
              <h3 class="normal">Living, learning, & leveling up one day at a time.</h3>
          </div>
      </div>
      <div class="footer__socials">
          <p class="footer__field">
            <a href="https://github.com/devbaier" target="_blank" mat-button class="footer__link footer__link--github">
              <mat-icon svgIcon="github"></mat-icon>
            </a>
            <a href="https://www.linkedin.com/in/devbaier/" target="_blank" mat-button class="footer__link footer__link--linkedin">
              <mat-icon svgIcon="linkedin"></mat-icon>
            </a>
            <a href="https://twitter.com/DevBaier" target="_blank" mat-button class="footer__link footer__link--twitter">
              <mat-icon svgIcon="twitter"></mat-icon>
            </a>
          </p>
      </div>
      <div class="copyright">
          Crafted by me © Daniel Baier
      </div>
  </div>
</footer>
