<div fxLayout="column" fxLayoutAlign="center center" class="section is-primary timeline">
  <h2>My career</h2>

  <div class="box-timeline">

      <div class="ligne"></div>

      <div class="rond r1" data-anim="1">&#127944;</div>
      <div class="rond r2" data-anim="2">&#128167;</div>
      <div class="rond r3" data-anim="3">&#128187;</div>


      <div class="box b1" data-anim="1">
          <h2>Digicomp Academy AG, Zürich</h2>
          <p>
            Entwicklung der Digicomp Webseite mit Laraval und Vue.js,
            MySQL-Datenbank und entwicklung der neuen Infrastruktur
            auf AWS.
          </p>
      </div>
      <div class="box b2" data-anim="2">
          <h2>IoWare AG, Düdingen</h2>
          <p>
            Entwicklung von Programme mit Selectline COM-Schnittstelle
            und SQL-Datenbank, Mobileapplication mit Webix.
          </p>
      </div>
      <div class="box b3" data-anim="3">
          <h2>macmac AG, Freiburg</h2>
          <p>
            Entwicklung von Webseiten auf Basis von Joomla und Wordpress ,HTML, PHP und Javascript
            mit MySQL-Datenbank
          </p>
      </div>
  </div>
</div>
